#MONGO_URI=mongodb://mongodb:27017/flaskdb
#SECRET_KEY=my-flask-secret-key
MONGO_URI=mongodb+srv://bhkori17:harihari@basucluster.qafswa7.mongodb.net/studentdb?retryWrites=true&w=majority&appName=basucluster
SECRET_KEY=mysecret123
